spring:
  main:
    banner-mode: off
  redis:
     host: localhost
     port: 6379
     timeout: 60000
  simulation:
     delay: 0
management:
  endpoint:
    health:
      show-details: always
      show-components: never
    shutdown:
      enabled: false
  endpoints:
    web:
      exposure:
        include: 'health, info'
server:
  error:
    include-message: always
  port: 8080
  shutdown: graceful
debug: false
storage:
  room: redisStorage
  #room: memoryStorage
info:
  application:
    name: "CaveService"
    version: "v3"


